@import "vars";

.header {
    padding: 0.5rem 1rem;
    line-height: 2rem;
    background-color: $primary;
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;
    }

    h1 {
        font-size: 2rem;
        margin: 1rem 0;
        text-decoration: none;
        line-height: 1;
    }
}

@media (min-width: 30rem) {
    .header {
        h1 {
            font-size: 4rem;
        }
    }
}
